# Build and packaging folders
bin/
obj/
packages/
.vs/
__pycache__/
qdrant_data/

# Rider / JetBrains
riderModule.iml
/.idea/
/_ReSharper.Caches/

# Ignore ONNX model
Findex.Embedder/Data/webface_r50.onnx
